body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Set a height for the header container */
}

.heading h1 {
  margin: 0;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 3px solid #bbb;
  margin: 5px;
  padding: 5px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem
}

.row > div.green {
  background-color: #5ac85a;
  border-color: green;
  animation: flip 0.7s ease-in-out;
}

.row > div.grey {
  background-color: #a1a1a1;
  border-color: grey;
  animation: flip 0.7s ease-in-out;
}

.row > div.yellow {
  background-color: #e2cc68;
  border-color: yellow;
  animation: flip 0.7s ease-in-out;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}
.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  line-height: 50px;
}

.keypad > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal {
  background: rgba(255,255,255,0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
}
.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal .newGameButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #5ac85a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  width: 120px;
}

.modal > div:last-child {

  margin-bottom: 40px;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  45% {
    transform: rotateY(90deg);
  }
  55% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .row > div {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    line-height: 40px;
  }

  .keypad {
    max-width: 400px;
  }
  .keypad > div {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .row > div {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .keypad {
    max-width: 300px;
  }
  .keypad > div {
    margin: 3px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}